.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #081f37;
    color: white;
    text-align: center;
}
.navbar{
    background-color: #00adb5;
}
.footer-text{

    padding-top: 15px;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand{
    padding: 10px;
    border-radius: 10px;

}

